<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
      <div class="form-group">
        <label for="firstname">First name</label>
        <input
          type="text"
          id="firstname"
          name="firstname"
          ngModel
          required
          minlength="2"
          class="form-control"/>
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          ngModel
          required
          minlength="2"
          class="form-control" />
      </div>
      <div class="form-group">
        <button
          type="submit"
          [disabled]="!employeeForm.valid"
          class="btn btn-primary">
          Add employee
        </button>
      </div>
    </form>
  </div>
</div>
